body {
    margin: 0;
    overflow: hidden;
    background-color: #87ceeb; /* Himmelblau */
    font-family: sans-serif;
}

canvas {
    display: block;
}

/* Fadenkreuz */
#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    pointer-events: none;
}

#crosshair::after,
#crosshair::before {
    content: '';
    position: absolute;
    background-color: red;
}

/* Vertikale Linie */
#crosshair::after {
    left: 9px;
    top: 0;
    width: 2px;
    height: 20px;
}

/* Horizontale Linie */
#crosshair::before {
    top: 9px;
    left: 0;
    width: 20px;
    height: 2px;
}

/* Mobile Steuerung */
#mobileControls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    z-index: 10;
}

.controlButton {
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    color: white;
    font-weight: bold;
    user-select: none;
    touch-action: none; /* verhindert Scrollen auf Mobilgeräten */
}
